@(consumer: com.aureo.oauth.common.OAuthConsumer, callbackUri: String, state: String, errors: List[String], usesFragment: Boolean)

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Syages - Connexion à @(consumer.getName())</title>
	
	<meta name="author" content="Aurelien Bidon, Timothée Barbot, Michael Cheam, Yann Dias, Kevin Ferreira, Giang Ngo, Romain Talleu">
	<meta name="copyright" content="Copyright &copy; 2015 Université Paris 13">
	<meta name="description" content="Le portail numérique dédié aux étudiants et enseignants du DAEU.">
	<meta name="keywords" content="syages, daeu, université, ent, etudiant, enseignant, formation">
	<meta name="robots" content="index,nofollow">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
	
	<style>
		html, body {
			background: #E8EAED;
			font-family: 'Roboto', sans-serif;
			font-weight: 400;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			text-rendering: optimizeLegibility;
		}
		body /deep/ core-toolbar {
			background-color: #3C2283;
			height: 100px;
			margin-bottom: -10px;
			padding-top: 20px;
			padding-left: 30px;
		}
		
		paper-button.action {
			background-color: #6f94ef;
			color: white;
		}
		
		paper-button.action[disabled] {
			background-color: #6c7fad;
			color: #ccc;
		}
		
		paper-button.dismiss {
			background-color: #9e8bcc;
			color: white;
		}
		
		paper-button.dismiss[disabled] {
			background-color: #8c82a5;
			color: #ccc;
		}
	</style>
	
	<script src="/resources/webcomponentsjs/webcomponents.min.js"></script>
	
	<link rel="import" href="/resources/core-toolbar/core-toolbar.html">
	<link rel="import" href="/resources/core-header-panel/core-header-panel.html">
	<link rel="import" href="/resources/font-roboto/roboto.html">
	<link rel="import" href="/resources/paper-button/paper-button.html">
	<link rel="import" href="/resources/paper-input/paper-input.html">
	<link rel="import" href="/resources/paper-input/paper-input-decorator.html">
</head>
<body fullbleed unresolved>
	<polymer-element name="syv-authorization">
		<template>
			<style>
				:host {
					box-sizing: border-box;
				}
				#core_header_panel {
					width: 100%;
					height: 100%;
				}
				#core_toolbar {
					background-color: #9A8CBD;
					color: #fff;
				}
				hr {
					height: 1px;
					padding: 0;
					color: #666;
					background-color: #bbb;
					border: 0;
				}
				section#section {
					padding-left: 25%;
					width: 50%;
				}
				span.grey {
					color: #555;
				}
				span.hint {
					display: inline-box;
					font-size: 12px;
					margin-top: 50px;
				}
				.right { float: right; }
			</style>
			
			<core-header-panel mode="seamed" id="core_header_panel">
				<core-toolbar id="core_toolbar" class="animate">
					<div id="div">Syages</div>
				</core-toolbar>
				<section id="section">
					<h1>Demande d'accès</h1>
					<p><span class="grey">@(consumer.getName())</span> par <span class="grey">@(consumer.getAuthor())</span> demande la permission d'accéder aux informations de votre compte Syages.</p>
					
					@if(errors.length > 0){
						<p style="color: #e00f0f;">
							<core-icon icon="error"></core-icon>
							@for(error <- errors){ <span style="vertical-align: -10%; display: inline-block">{{messages.@(error)}}</span> }
						</p>
					}
					
					<form id="authForm" method="POST" action="/api/1/oauth/auth">
						<paper-input-decorator label="E-mail" floatingLabel>
							<input id="email_field" name="email" is="paper-input" on-keyUp="{{keyUp}}" type="email" value="{{email}}"/>
						</paper-input-decorator>
						
						<paper-input-decorator label="Mot de passe" floatingLabel>
							<input id="password_field" name="password" is="paper-input" on-keyUp="{{keyUp}}" type="password" value="{{password}}"/>
						</paper-input-decorator>
						
						<paper-button class="right action" disabled?="{{!(email && password)}}" id="authorize" raised on-tap="{{authorize}}">
							Se connecter&nbsp;<core-icon icon="chevron-right"></core-icon>
						</paper-button>
						
						<paper-button class="right dismiss" id="dismiss" on-tap="{{dismiss}}" raised>
							Annuler&nbsp;<core-icon icon="close"></core-icon>
						</paper-button>
						
						<input type="hidden" name="client_id" value="@(consumer.getKey())">
						<input type="hidden" name="redirect_uri" value="@(callbackUri)">
						<input type="hidden" name="response_type" value="@if(usesFragment){token}else{code}">
						<input type="hidden" name="state" value="@(state)">
					</form>
					
					<span class="hint">{{messages.hint}}</span>
				</section>
			</core-header-panel>
		</template>
		<script>
			Polymer({
				authorize: function() {
					setTimeout(function() {
						this.$.authForm.submit();
					}.bind(this), 500);
				},
				dismiss: function() {
					setTimeout(function() {
						@if(usesFragment){
						window.location.replace("@(callbackUri)#error=access_denied");
						} else {
						window.location.replace("@(callbackUri)?error=access_denied");
						}
					}.bind(this), 500);
				},
				messages: {
					hint: "L'application aura accès à vos données en lecture et en écriture. Assurez-vous que l'application est de confiance avant de lui donner ce genre d'autorisations.",
					invalid_credentials: "Nous n'avons pas été en mesure de vous connecter avec les identifiants fournis.",
					missing_parameters: "Veuillez remplir tous les champs avant de procéder à la connection"
				}
			});
		</script>
	</polymer-element>
	<syv-authorization></syv-authorization>
</body>
</html>